
.regente{
  display: flex;
}

.regente .columna{
  float: 1;
}

.regente-1{
  width: 50%;
  padding-top: 4%;
}

.regente-2{
  width: 50%;
  padding-left: 5%;
}

.regente h1 {
  color: #91BC75;
  font-size: 85px;
  padding-top: 60px;
  padding-left: 20%;
  padding-right: 10px;
  padding-bottom: 20px;
}

.regente p{
  padding-bottom: 60px;
  padding-left: 20%;
  padding-right: 35px;
  font-size: large;
}

.regente p, h2{
  text-align: justify;
}


.parte-1{
  width: 50%;
  padding-top: 9%;
}

.parte-2{
  width: 50%;
  padding-left: 5%;
  padding-top: 6%;
}
  
a{
  text-decoration: none;
  color: rgb(100, 100, 248);
}

.seguir{
  padding-bottom: 0 !important;
}

.notaBlog{
  padding-bottom: 0 !important;
  color: rgb(62, 62, 247);
}


.mobile{
  display: none;
}

.mobile-2{
  display: none;
}

@media (max-width: 768px) {
  .no-mobile{
  display: none;
}
.mobile{
  display: inline;
  display: flex;
  float: left;
  width: 130px;
  padding-right: 5px;
  margin-left: 10px;
}

.mobile-2{
  display: inline;
  display: flex;
  padding: 3px 3px 0px 3px;
  float: right;
  width: 130px;
}

.regente-1{
  width: 100vw;
  padding-top: 4%;
}

.regente-2{
  width: 100vw;
  padding-left: 5%;
}

.regente{
  width: 100vw;
}

.columna{
  width: 100vw;
}

  h1{
    font-size: 50px !important;
    padding: 10px 10px 10px 10px !important;
    margin-bottom: 0px;
  }

  p{
    font-size: 15px !important;
    padding: 16px 16px 16px 16px !important;
  }

  .parte-1{
    padding: 0 0 0 0 ;
  }

  .parte-2{
    margin: 0px 0px 0px 0px;
    padding: 0 0 0 0;
    
  }

}