<div>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon><img src="../../assets/Test_Arquetipos_Diseño/Links/burguer.png" width="20px" alt=""></mat-icon>
        </button>
        <a href="">
          <img src="../../assets/Test_Arquetipos_Diseño/Links/Njambre-logo.svg" width="145" height="145">
          </a>
        
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
          <a href="https://www.njambre.org" target="blank" mat-button>Home</a>
          <a href="https://www.njambre.org/mapa-de-herramientas/"  target="blank" mat-button>Herramientas</a>
          <a href="https://www.njambre.org/talento-que-transforma/" target="blank" mat-button>Talento que transforma</a>
          <a href="https://www.njambre.org/#Contacto" target="blank" mat-button>Contacto</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
</div>
  <div>
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
          <a href="https://www.njambre.org" target="blank" mat-list-item>Home</a>
          <a href="https://www.njambre.org/mapa-de-herramientas/"  target="blank" mat-list-item>Herramientas</a>
          <a href="https://www.njambre.org/talento-que-transforma/" target="blank"  mat-list-item>Talento que transforma</a>
          <a href="https://www.njambre.org/#Contacto" target="blank" mat-list-item>Contacto</a>
        </mat-nav-list>
      </mat-sidenav>
        <mat-sidenav-content fxFlexFill>   
          
            <router-outlet (activate)="onActivate($event)" ></router-outlet>
          
            
        </mat-sidenav-content>
    </mat-sidenav-container>
  </div>