
<main>
<div class="col-container">
<div class="col one" >
    <h3 class="titulo"> Njambre  </h3>
    <a href="https://www.njambre.org" target="blank"> <p>Inicio</p></a>
    <a href="https://www.njambre.org/que-hacemos/" target="blank"> <p>Qué hacemos</p></a>
    <a href="https://www.njambre.org/quienes-somos/" target="blank"> <p>Quienes somos</p></a>
    <a href="https://www.njambre.org/#Contacto" target="blank"> <p>Contacto</p></a>
</div>
<div class="col two" >
    <h3 class="titulo">  Contenido </h3>
    <a href="https://www.njambre.org/que-son-las-empresas-de-impacto/" target="blank"><p>Empresas de impacto</p> </a>
    <a href="https://www.njambre.org/talento-que-transforma/" target="blank"><p>Talento que transforma</p></a>
    <a href="https://www.njambre.org/mapa-de-herramientas/" target="blank"><p>Herramientas</p></a>
    <a href="https://www.njambre.org/curso-virtual/" target="blank"><p>Curso virtual</p></a>
    <a href="https://www.njambre.org/blog/" target="blank"><p>Blog</p></a>
</div>
<div class="col three">
    <h3 class="titulo"> Newsletter </h3> 
    <input type="text" class="email" name="" id="" placeholder="Email"> <br>
    <input type="radio"> Sí, quiero recibir mails de Njambre <br>
    <button  class="suscribirse">Suscribirse</button>
</div>
<div class="col four" >
    <a class="logos" href="https://www.linkedin.com/company/njambre/?originalSubdomain=ar" target="_blank"><img src="../../assets/Test_Arquetipos_Diseño/Links/LINKEDIN.png" alt=""></a>
    <a class="logos" href="https://www.instagram.com/njambre/?hl=en" target="_blank"><img src="../../assets/Test_Arquetipos_Diseño/Links/INSTAGRAM.png" alt=""></a>
    <a class="logos" href="https://www.facebook.com/Njambre/" target="_blank"><img src="../../assets/Test_Arquetipos_Diseño/Links/FACEBOOK.png" alt=""></a>
    <a class="logos" href="https://twitter.com/njambre" target="_blank"><img src="../../assets/Test_Arquetipos_Diseño/Links/TWITTER.png" alt=""> </a>
    <a class="logos" href="https://www.youtube.com/channel/UC-aGM9Qa0tVa8L8lZXaFTzw"  target="_blank"><img src="../../assets/Test_Arquetipos_Diseño/Links/YOUTUBE.png" alt=""> </a>
    <br>
    
    <img class="logo" src="../../assets/Test_Arquetipos_Diseño/Links/Njambre-logo.svg" alt="">
    
</div>
</div>
</main>



