<div class="parte-1">
<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="../../assets/Test_Arquetipos_Diseño/LiderazgoIntegrado.mp4" type="video/mp4">
    </video>
    <div class="container">
      <div>
          <h1>Test de <br> <strong>Liderazgo integrado</strong> </h1>
          <p>¿Cómo desplegar tu potencial y el de otros <br>
            en una empresa de impacto?</p>
            <a mat-raised-button  [routerLink]="['preguntas']" class="hacer-test">Hacer test!</a>
      </div>
    </div>
  </header>
</div>

<div class="parte-2">
 
<h2>¿Qué es?</h2>
<p>Es un cuestionario que elaboramos junto a Fabiana Fondevilla para potenciar el desarrollo personal y el liderazgo.
    Para desarrollar este test, tomamos como fuente la teoría de los arquetipos desarrollada por Carl Jung. De los
    doce tipos de personalidades que describe Jung, elegimos cuatro que creemos que describen ciertos patrones
    y características de los emprendedores de impacto.
    </p>
</div>
    <img  class="ficha" src="../../assets/Test_Arquetipos_Diseño/Links/FichaLiderazgo.png" alt="">


<div class="parte-3">
<h2>¿Para qué sirve?</h2>
<p>Esta herramienta te puede a ayudar a visualizar cuáles son tus habilidades más desarrolladas y en cuáles podés
    crecer. Se puede hacer en forma individual, pero también es interesante compartirlo con el equipo y entender
    mejor cómo se complementan los roles de cada uno.</p>
</div>

<img src="../../assets/Test_Arquetipos_Diseño/Links/Test_liderazgo.png" class="camino" alt="">


<div  class="parte-4">
<div class="post-container">                
  <div class="post-thumb"><img src="../../assets/Test_Arquetipos_Diseño/Links/LiderazgoIntegrado.png" /></div>
  <div class="post-content">
    <h2 class="post-title">¿Cómo funciona?</h2>
    <p>Es un test con 42 situaciones hipotéticas que tenés que
      responder si se cumplen en tu vida: pocas veces, algunas
      veces o la mayoría de las veces. A través de estas
      preguntas, te invitamos a que reflexiones sobre cuáles
      son tus habilidades y capacidades más desplegadas y
      potenciadas, y cuáles se pueden seguir desarrollando
      para llevar adelante una empresa de impacto.
      </p>
 </div>
</div>
</div>


<div class="parte-5">
  <img src="../../assets/Test_Arquetipos_Diseño/Links/play.png" [routerLink]="['preguntas']" class="" alt="">
  <div  class="texto">
    <p>El fin de este test es meramente didáctico y exploratorio: propone una puerta de
        entrada a seguir indagando en nuestras habilidades de liderazgo y nuestras
        actitudes de trabajo en equipo.</p>
        <a mat-raised-button  [routerLink]="['preguntas']" class="empezar">Hacer test</a>
      </div>
</div>



<app-footer></app-footer>