.parte-1 h1{
    font-size: 2rem;
  transform: scale(1, 1);
    
}

header {
    position: relative;
    height: 60vh;
    min-height: 25rem;
    width: 100%;
    height: 100;
    overflow: hidden;
    color: white;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
    top: 27%;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
  }
  
  /* no-repeat center center scroll */

  @media (pointer: coarse) and (hover: none) {
    header {
      background-image: url('../../assets/Test_Arquetipos_Diseño/Links/home-mobile.png')   ;
      background-repeat: no-repeat;
      background-size: 100%;
      
    }
    header video {
      display: none;
    }
  }

.parte-1{
    text-align: center;    
}

.hacer-test{
  font-size: 18px;
  text-decoration: none;
  background: white ;
  padding-top: 0px;
  display: inline-block;
  transition: all 0.4s ease 0s;
  border-radius: 50px;
}



.parte-2{
    text-align: center;
    width: 77%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

.parte-2 h2{
    color: #F2BB00;
    font-size: xx-large;
}

.parte-2 p{
    font-size: medium;
}

.ficha{
    width: 100%;
}


.parte-3{
    text-align: center;
    width: 77%;
    margin: auto;
    margin-top: 3%;
    
}

.parte-3 h2{
    color: #F2BB00;
    font-size: xx-large;
}

.parte-3 p{
    font-size: medium;
    
}

.camino{
    width: 100%;
}

.parte-4 h2{
  color: #F2BB00;
  font-size: xx-large;
}

.parte-4 p{
  font-size: medium;
  text-align: justify;
  
}

.post-container {
  margin: 3% 15% 3% 15%;  
  overflow: auto
}
.post-thumb {
  float: left;
  width: 40%
}
.post-thumb img {
  display: block;
}
.post-content {
  margin: 10% 0% 0 35%;
}
.post-title {
  font-weight: bold;
  font-size: 200%
}


.parte-5{
  height: 55vh;
  background-color: #91BC75;
  text-align: center;
  color: white;
  font-size: large;
}

.texto{
  margin: 3vh 30% 0 30%;
}

.parte-5 img{
  width: 3rem;
  height: 4rem;
  margin-top: 6vh;
  margin-bottom: 3vh;
}

.empezar{
  margin-top: 4vh;
  font-size: 18px;
  color: #91BC75;
  text-decoration: none;
  background: white ;
  padding-top: 0px;
  display: inline-block;
  transition: all 0.4s ease 0s;
  border-radius: 50px;
}


@media (max-width: 768px) {
  .parte-2{
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .parte-2 img{
      size: 200px;
      width: 80%;
      margin: 0 -50px 0 -50px;
      
    }

  .parte-3{
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .parte-4{
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .parte-4 p{
    text-align: center;
  }

  .post-thumb{
    display: none;
  }

  .post-container{
    margin: 0 0 0 0;
  }

  .post-content{
    width: 95%;
    margin: 0 0 0 0;
  }

  .post-thumb img{
    display: none;
  }

  .parte-5{
    text-align: center;
    width: 100%;
    height: 40vh;

  }

  .texto{
    margin: 3vh 5% 0 5%;
  }

  .parte-5 img{
    margin-top: 2vh;
    margin-bottom: 1vh;
  }
  
}