.mago{
  display: flex;
}

.mago .columna{
  float: 1;
}

.mago-1{
  width: 50%;
  padding-top: 4%;
}

.mago-2{
  width: 50%;
  padding-left: 5%;
}

.mago h1 {
  color: #EE7516 ;
  font-size: 85px;
  padding-top: 60px;
  padding-left: 20%;
  padding-right: 10px;
  padding-bottom: 20px;
}

.mago p{
  padding-bottom: 60px;
  padding-left: 20%;
  padding-right: 35px;
  font-size: large;
}

.mago p, h2{
  text-align: justify;
}


.parte-1{
  padding-top: 60px;
  padding-left: 8%;
  padding-right: 10px;
  padding-bottom: 13px;
}

.parte-2{
  padding-top: 13%;
  padding-right: 18%;
}

a{
  text-decoration: none;
  color: rgb(100, 100, 248);
}

.seguir{
  padding-bottom: 0 !important;
}

.notaBlog{
  padding-bottom: 0 !important;
  color: rgb(62, 62, 247);
}